{
    "env": {
        "browser": false,
        "node": true,
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "root": true,
    "rules": {
        "semi": [2, "never"],
    }
}
